{%  extends 'staticbase.html' %}
{% load static %}
{%block content %}
  <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static "img/hakkimizda.jpg"%}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <br>
            <h1 style="color:white;">Hakkımızda</h1>
            <br>           
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <br>
        <span class="subheading">Muhasebebilimi.com</span>
        <br>
        <br>
        <p>Muhasebe Bilimi;</p>
        <p>-&nbsp;Muhasebe mesleğini icra edenler için mesleki bilgi veri tabanıdır.</p>
        <p>-&nbsp;Muhasebe sektöründe ki güncel mesleki bilgileri, 
          <p>&emsp;--ilgili mevzuatların referansında,
          <p>&emsp;--kişisel mesleki makaleler ile paylaşarak,</p>
          <p>&emsp;--bilgilendirmeyi amaçlayan,</p>
          <p>&emsp;--Nejdet Mutlu adına tescilli kişisel blogtur.</p>
        <p>Muhasebe Bilimi;</p>
        <p>-&nbsp;Muhasebe mesleğini icra edenler için yararlı olacak bilgileri, mevzuatları,</p> 
          <p>&emsp;--pratik işleyen uygulamalara dökerek makaleler ile paylaşmaktadır.</p>
        <p>-Gelecekte mali mevzuatları özetleyerek, yorumlayarak, 
          <p>&emsp;--İlgili sektörler için finansal verilerden elde edilmiş bilgileri, 
            <p>&emsp;--paylaşmayı ve danışmanlık hizmeti vermeyi amaçlamaktadır.</p>
        <br><br><br><br><br><br><br>
      </div>
    </div>
  </div>

  <hr>
{% endblock content %}