{%  extends 'staticbase.html' %}
{% load static %}
{%block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{% static "img/kaynaklar.jpg"%}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <br>
          <h1 style="color:white;">Kaynaklar</h1> <br>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <br>
      <span class="subheading">Makalelerimiz için yararlandığımız kaynaklar:</span>
      <br><br>
      <p>www.gib.gov.tr</p>
      <p>www.maliye.gov.tr</p>
      <p>www.turmob.gov.tr</p>
      <p>www.ismmmo.org.tr</p>
      <p>www.izsmmmo.org.tr/</p>
      <p>www.turmob.org.tr</p>
      <p>www.gumruk.gov.tr</p>
      <p>www.gelirler.gov.tr</p>
      <p>www.spk.gov.tr</p>
      <p>Vergi Usul Kanunu</p>
      <p>Gelir Vergisi Kanunu</p>
      <p>Kurumlar Vergisi Kanunu</p>
      <p>Katma Değer Vergisi Kanunu</p>
      <p>Özel Tüketim Vergisi Kanunu</p>
      <p>Türk Ticaret Kanunu</p>
      <p>Damga Vegisi Kanunu</p>
    </div>
  </div>
</div>
<hr>
{% endblock content %}